<!DOCTYPE html>
<html ng-app="ToDoList">

<head>

    <meta charset="UTF-8">
    <title>To do List</title>
    <link rel ="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
    <style>
        h1{
            color: black;
            font-family: Arial;
            font-size: xx-large;
        }
        h2{
            color: #1b6d85;
            font-family: Calibri;
            font-size: x-large;

        }
        h3{
            color: #1b6d85;
            font-family: Calibri;
            font-size: x-large;
        }
        .table{
            margin-top: 20px;
            color: black;
        }
        body{
            background-color: inherit;
        }

    </style>
    <div align="center"><h1>To do List</h1></div>

    <script src="angular.js"></script>
    <script>
        angular.module("ToDoList",[]);
        angular.module("ToDoList").controller("ToDoListCtrl",function ($scope) {

            $scope.tarefas = [
                {tarefa:"Estudar para SI"},
                {tarefa:"Jogar Futebol"},
                {tarefa:"Lavar o Carro"}
            ];
            $scope.realidas = [];

            $scope.AdicionarTarefa = function(atividades) {
                $scope.tarefas.push(angular.copy(atividades));
                delete $scope.atividades;

            }
            $scope.marcarComoRealizada = function (atividades) {
                if($scope.realidas.indexOf(atividades) == -1){
                    $scope.realidas.push(atividades);
                }
                else{
                    $scope.realidas.pop();
                }
                delete $scope.atividades;
            }

            $scope.realizada = function () {
                if($scope.realidas > $scope.tarefas){
                    return 100;
                }else if($scope.tarefas.length == 0){
                    return 100;
                }
                return 100 * $scope.realidas.length / $scope.tarefas.length;
            }

            $scope.limparTarefas = function(tarefas){
                $scope.tarefas = $scope.tarefas.filter(function (tarefa) {

                });
            }
            $scope.tirarTarefa = function (tarefas) {
                $scope.tarefas.shift();


            }
            $scope.incompletas = function () {
                if($scope.tarefas.length - $scope.realidas.length > 0){
                    return $scope.tarefas.length - $scope.realidas.length;
                }else{
                    return 0;
                }
            }
            $scope.mudarCor = function(){

            }
        })
    </script>
</head>
<body ng-controller="ToDoListCtrl">
    <div align="center">

         <table class="table">
            <thead>
                    <br/><h2>Bem-vindo a sua lista de atividades!</h2>
                </br>
    </tr>
            </thead>
            <tbody>
                <tr ng-class="{'selecionado':atividades.selecionado}" ng-repeat="atividades in tarefas">
                    <td><div align="center"> <input type="checkbox" ng-click="marcarComoRealizada(atividades)" ng-model="atividades.selecionado"> </div></td>
                    <td><div align="center"> {{atividades.tarefa}}</div></td>
                    <td><div align="center"><button class="checkbox" ng-click="tirarTarefa(tarefas)"></div></td>

                </tr>
            </tbody>
        </table>

        <form name="formItem">
            <br/> <div class="progress">
            <div class="progress-bar-success" role="progressbar" style="width:{{realizada()}}%">
                Atividades realizadas:{{realizada()}}%;
            </div>
        </div>
                </br>

            <input type="text" ng-model="atividades.tarefa" name = "tarefa" placeholder="Digite a atividade">
            <button class="active" ng-click="AdicionarTarefa(atividades)">
                Adicionar Tarefa</button>

            <button class="active" ng-click="limparTarefas(tarefas)"> Limpar Tarefas</button>

        </form>
        <h4><td>Atividades para serem realizadas:{{incompletas()}}</td></h4>
    </div>
</body>
</html>